body {
	padding-top: 50px;
	color: #959595;

	height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

#fullPage {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
}

a.profile-a { 
    color: #0099FF;
    padding: 30px 0;
    cursor: pointer;
}

button.red_btn{
    color: White;
    border:none;
    background-color: Red;
}

button.lightgray_btn{
    color: White;
    background-color: Gray;
}

button.nostyle{
    background:transparent;
    background-color:transparent;
    border:none;
    font-size:1em;
    text-decoration: none;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

button.nostyle:hover{
    background:transparent;
    background-color:transparent;
    border:none;
    font-size:1em;
    text-decoration: underline;
    padding: 0px;
    margin-bottom: 0px;
    margin-top: 0px;
}

b.pagination-bold { 
    color: Gray;
    font-size: 120%;
}

a.pagination { 
    color: #0099FF;
    font-size: 120%;
}

	
h1, h2, h3, h4, h5, h6 {
	color: black;
	}
	
.feature {
	background-color: yellowgreen;
	color: greenyellow;
	}
	
.article-intro {
    margin-bottom: 25px;
}

.footer-blurb {
    padding: 30px 0;
    background-color: goldenrod;
    color: black;
}
    
.footer-blurb-item {
    padding: 30px;
    }
 
.small-print {
	background-color: #fff;
	padding: 30px 0;
}

table tr td {
    padding-right: 10px;
    padding-left: 10px;
}
